.selfie {
    .tool-bar {
        width: 100%;
        min-height: 45px;
        max-height: 45px;
        position: absolute;
        z-index: 1000;
        // background: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgba(124, 90, 160, 0.43);
        color: #fff;
        @media(max-width: 430px) {
            // top: 25px;
        }
        .toolbar-container {
            display: flex;
            justify-content: space-between;
            padding: 0px 20px;
            color: inherit;
            .menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: inherit;
                ul {
                    padding: 0px;
                    margin: 0px;
                    color: inherit;
                    li {
                        float: left;
                        list-style-type: none;
                        padding: 5px 25px 5px 0px; // text-transform: uppercase;
                        font-weight: bold;
                        font-size: 16px;
                        color: inherit;
                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                    @media(max-width: 620px) {
                        display: none;
                    }
                }
                .menu-btn {
                    display: none;
                    background: none;
                    border: none;
                    @media(max-width: 620px) {
                        display: block;
                    }
                    &:hover {
                        transform: scale(1.2);
                        background: rgba(204, 204, 204, 0.2);
                    }
                }
            }
        }
        .toolbar-container {
            h1 {
                margin: 0px;
                text-shadow: 5px 3px 14px rgba(1, 24, 60, 0.96);
            }
        }
    }
}

.dropdown-menu {
    background: rgba(54, 58, 58, 0.86);
    min-height: 200px;
    max-height: 150px;
    ul{
        padding: 0px 15px;
        li{
            list-style-type: none;
            padding:8px;
            color: #fff;
            border-bottom: 1px solid transparent;
            a{
                text-decoration: none;
                color: inherit;
                font-weight: 600;
               
            }
             &:hover{
                // background: #fff;
                border-bottom: 1px solid #fff;
             }
        }
    }
}