<div class="aj-thumbs">
    <div class="aj-thumb-layout">
        <div ng-repeat="thumb in [1,2,3]" class="thumbs">
            <img src="pages/{{thumb}}-thumb.jpg">
        </div>
    </div>
    <div class="aj-thumb-layout">
        <div ng-repeat="thumb in [4,5,6]" class="thumbs" >
            <img src="pages/{{thumb}}-thumb.jpg">
        </div>
    </div>
</div>
<div class="magazine-viewport" ng-init="vm.init()">
        <div class="container" >
            <div class="magazine">
                <!-- Next button -->
                <div ignore="1" class="next-button"></div>
                <!-- Previous button -->
                <div ignore="1" class="previous-button"></div>
            </div>
        </div>
</div>
